@import url(https://www.flaticon.com/premium-icon/search-location_2342682?term=search&page=1&position=83);

.wrap{
  margin-left: 20%;
  margin-top: 100px;
  width: 300px;
  position: relative; 
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid rgb(61, 59, 57);
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid rgb(61, 59, 57);
  background: rgb(61, 59, 57);
  text-align: left;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  background-image: url;
}
.icon {
  height: absolute;
  width: absolute;
}
