.tooltips{
    position: absolute;
    margin: 8px;
    padding: 4px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    max-width: 300px;
    font-size: .8rem;
    z-index: 9;
    border-radius: 16px;
    pointer-events: none;
}