.markerInfo{
    background:rgba(255,255,255,0.8);
    display:flex;
    flex-direction: column;
    width:300px;
    position: relative;
    height: 175px;
    z-index: 10;
    border-radius: 15px;
}

.closeIcon{
    position:absolute;
    top:5px;
    right: 5px;
}

.infos{
    display: flex;
    width:100%;
     padding:1rem;
}

.pictureArea{
    width: 75px;
    height:75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.picture{
    max-width:100%;
    height: auto;
}

.infoArea{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title{
    white-space: nowrap;
    font-size: 1.6rem;
}
.housingUrl{
    width: 24px;
    height:24px;
}
.houseInfo{
    display: flex;
    justify-content: space-between;

}



