.markerInfo {
  transition: 1s;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 10;
  width:100%;
  border-radius: 15px;
  margin-top:1rem;
  left:0;
}

.markerInfo.movedLeft{
    position: absolute;
    left:-105%;
    bottom: 0;

}

.infos {
  display: flex;
  padding: 1rem;
  flex-direction: column;
}

.pictureArea {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.picture {
  max-width: 100%;
  height: auto;
}

.infoArea {
  flex: 1;
  display: flex;
}

.title {
  white-space: nowrap;
  font-size: 1.4rem;
}
.housingUrl {
display: flex;
cursor: pointer;
justify-content: flex-end;
text-decoration: none;

}
.foreignLogo{
    width: 24px;
    margin: 0 0 0 .5rem;
}
.aganceSite{
    align-self: center;

    color:black;
}

.housingUrl:hover .aganceSite{
    text-decoration: underline black;
}

.houseInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0 0 0.5rem ;
}

