
@import '../../flairColors.scss';

.toggleButtonComponant{
    width:100%;
    display: flex;
    cursor:pointer;

}
.toggleButtonLabel{
    flex:1;
    align-self: center;
}
.toggleButton{
    position: relative;
    box-sizing: border-box;
    width: 42px;
    height: 24px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.toggleButton.checked {
    border: 1px solid $primaryColor;
    background: #ffffff;

    transition: 0.2s;
}

.toggleButton.unchecked {
    border: 1px solid #000000;
    

    transition: 0.2s;

}


.checkToggle {
    transition:0.2s;
    width:20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
}

.toggleButton.unchecked .checkToggle{
    background: $secondaryColor;
    left:1px;   
    transition:0.2s;
    background: #000000;

}

.toggleButton.checked .checkToggle{
    background: $primaryColor;
    left:19px;
    transition:0.2s;

}