

html {
  color: rgb(61, 59, 57);
  background-color: white;
}
.app {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

.head {
  height: 75px;
  display: flex;
  flex-direction: row;
  background: linear-gradient(rgb(241, 219, 17), coral);
}

.title {
  text-align: center;
  flex:1;
  font-size: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  margin-top: 20px;
  color: white;
}

.sizeLogo {
  height: 100%;
  width: 150px;

}

footer {
  height: 20px;
  margin-right: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: right;

}

.accueil {
  flex: 1;
}