@import '../../flairColors.scss';

@font-face {
  font-family: 'Rockwell';
  font-style: normal;
  font-weight: 700;
  src: url('../../Rockwell.ttc'); /* IE9 Compat Modes */
  src: local('Rockwell'),
       url('../../Rockwell.ttc') format('ttc');

}

.head {
    height: 45px;
    display: flex;
    position: relative;
    flex-direction: row;
    background: linear-gradient(white,white);
  }
  
  .title {
    text-align: center;
    margin:auto;
    flex:1;
    font-size: 1.2rem;
    font-family: 'Rockwell';
    font-weight: 350;
    color: black;
  }
  
  .sizeLogo {
    position: absolute;
    left:.5rem;
    height: 100%;
    width: auto;
  
  }
  .help{
      position: absolute;
      right:1rem;
     align-self: center;
  }