@import '../../flairColors.scss';

@font-face {
  font-family: 'Rockwell';
  font-style: normal;
  src: url('../../Rockwell.ttc'); /* IE9 Compat Modes */
  src: local('Rockwell'),
       url('../../Rockwell.ttc');

}

.head {
    height: 45px;
    display: flex;
    position: relative;
    flex-direction: row;
    background: white;
  }
  
  .siteTitle {
    text-align: center;
    margin: auto;
    flex: 1 1;
    padding-top: 5px;
    font-size: 1.2rem;
    font-family: 'Rockwell';
    color: black;
    vertical-align: middle;
  }
  
  .sizeLogo {
    position: absolute;
    left:.5rem;
    height: 100%;
    width: auto;
  
  }
  .help{
      position: absolute;
      right:1rem;
      align-self: center;
  }